# Copy this file to .env for local development (.env is already in .gitignore, won't be committed)

POSTGRES_USER=intellishop
POSTGRES_PASSWORD=intellishop_dev_password
POSTGRES_DB=intellishop
POSTGRES_PORT=5433
